{% extends "empresarios/modelo.html" %}
#
{% load static %}

{% block head %}{% endblock head %}

{% block title %}Cadastrar Empresa{% endblock title %}

{% block nav %}{% endblock nav %}
{% block titulo %}
    <h1 class="text-center text-4xl text-violet-500">Pagina Cadastra Empresa</h1>
{% endblock titulo %}
{% block conteudo %}
    <div class="container">
        <br>
        <br>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md">
                <form action="" method="">
                    <label>Nome</label>
                    <input type="text" name="nome" placeholder="Digite o nome da sua empresa ..." class="form-control">
                    <br>
                    <label>Cnpj</label>
                    <input type="text" name="cnpj" placeholder="Digite o seu CNPJ ..." class="form-control">
                    <br>
                    <label>Site</label>
                    <input type="text" name="site" placeholder="Digite o seu site ..." class="form-control">
                    <br>
                    <label>A quanto tempo a startup existe ?</label>
                    <select name="tempo_existencia" class="form-select">
                        {% for x in tempos %}
                            <option value="{{x.0}}">{{x.1}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Descreva a sua empresa</label>
                    <textarea name="descricao" class="form-control"></textarea>
                    <br>
                    <label>Data final para captação</label>
                    <input type="date" name="data_final" class="form-control">
                    <br>
                    <label>Qual a porcentagem (%) de equity oferecida em contrapartida ao valor investido?</label>
                    <input type="number" name="percentual_equity" class="form-control">
                    <input type="submit" class="btn btn-lg btn-indigo" value="cadastrar">
                </div>
                <div class="col-md">
                    <br>
                    <label>Qual o estágio da empresa ?</label>
                    <br>
                    <br>
                    <input type="checkbox" name="estagio" value="I"><span>&nbsp&nbsp Tenho apenas uma ideia</span>
                    <br>
                    <input type="checkbox" name="estagio" value="MVP"><span>&nbsp&nbsp Possuo um MVP</span>
                    <br>
                    <input type="checkbox" name="estagio" value="MVPP"><span>&nbsp&nbsp Possuo um MVP com clientes pagantes</span>
                    <br>
                    <input type="checkbox" name="estagio" value="E"><span>&nbsp&nbsp Empresa pronta para escalar </span>
                    <br>
                    <br>
                    <label>Qual área sua startup está inseria ?</label>
                    <select name="area" class="form-select">
                        {% for a in areas %}
                            <option value="{{ a.0 }}">{{ a.1 }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Qual seu público alvo</label>
                    <select name="publico_alvo" class="form-select">
                        <option value="BTC">BTC</option>
                        <option value="B2B">B2B</option>
                    </select>
                    <br>
                    <label>Qual valor deseja captar ?</label>
                    <input type="number" name="valor" class="form-control">
                    <br>
                    <label>Envie o pitch de apresentação</label>
                    <input type="file" name="pitch" class="form-control">
                    <br>
                    <label>Envie a logo da empresa</label>
                    <input type="file" name="logo" class="form-control">
                    <br><br>
                    <div class="grid grid-rows-1 grid-cols-5 ">
                        <input class="col-span-1 mx-auto items-end text-2xl font-bold text-gray-400 bg-green-400 px-4 py-2 hover:text-black hover:bg-green-300 rounded-lg" type="submit"  value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock conteudo %}
{% block footer %}{% endblock footer %}
{% block scritps %}{% endblock scritps %}