{% extends "usuarios/home.html" %}
#
{% load static %}

{% block head %}{% endblock head %}

{% block title %}Cadastro{% endblock title %}


{% block nav %}{% endblock nav %}
{% block titulo %}
{% endblock titulo %}
{% block conteudo %}
    <div >
        <div class="grid grid-cols-6 gap-1">
            <div class="col-span-1 bg-img">
            </div>
            <div class="col-span-2 ">
            </div>
            <div class="col-span-3 ">
                <div class="mt-20" >
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <section class="{{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                    {% endif %}


                    <h1 class="text-6xl text-rose-300 ">START.SE</h1>
                    <h1 class="text-2xl text-green-300">Cadastre-se</h1>
                    <br>


                    <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                        <label>Username</label>
                        <br>
                        <input type="text" class="form-control" name="username" placeholder="Digite seu username">
                        <br>
                        <label>Senha</label>
                        <br>
                        <input type="password" class="form-control" name="senha" placeholder="Digite sua senha">
                        <br>
                        <label>Confirmar senha</label>
                        <br>
                        <input type="password" class="form-control" name="confirmar_senha" placeholder="Confirme sua senha">
                        <div class="centralizar">
                            <input type="submit" class="bg-green-400 px-4 py-2 rounded-lg hover:bg-green-600 hover:text-white mt-4" value="Cadastrar">
                            <a href="{% url "logar" %}" class="ms-4">Já possuo uma conta</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock conteudo %}
{% block footer %}{% endblock footer %}
{% block scritps %}{% endblock scritps %}