{% extends "usuarios/home.html" %}
{% load static %}

{% block head %}{% endblock head %}
    
{% block title %}LOGIN{% endblock title %}


{% block nav %}{% endblock nav %}
{% block titulo %}
{% endblock titulo %}
{% block conteudo %} 

<div class="grid grid-cols-6 gap-1">
    <div class="col-span-1 bg-img">
    </div>
    <div class="col-span-2">
    </div>
    <div class="col-span-3">
    <div class="mt-20">
    <h1 class="text-center text-6xl text-rose-300 mt-20">START.SE</h1>
    <h1 class="text-green-400 font-bold text-lg">Logar</h1>
        {% if messages %}
            {% for message in messages %}
            <section class="{{message.tags}}">
                {{message}}
            </section>
            {% endfor %}
        {% endif %}
    <br>
    
    <form action="{% url 'logar' %}" method="POST">{% csrf_token %}
    <div class="">
        <label class="">Username</label>
        <br>
    </div>
        <input type="text" class="rounded-md px-4 hover:ring-4 hover:ring-gray-500 " name="username" placeholder="Digite seu username">
        <br>
    <label>Senha</label>
    <br>
    <input type="password" class="rounded-md px-4 hover:ring-4 hover:ring-gray-500 " name="senha" placeholder="Digite sua senha">
    <div class="mt-10">
    <input type="submit" class="bg-sky-400 w-60 rounded-lg hover:bg-sky-600 hover:text-black text-white mb-4" value="Logar">
    <br>
    <a href="" class="font-bold text-white text-xl ">Não possuo uma conta</a>
    </div>
    </form>
    </div>
    </div>
    </div>
   
   
{% endblock conteudo%}
{% block footer %}{% endblock footer %}
{% block scritps %}{% endblock scritps %}